# Flask Configuration
FLASK_ENV=production
FLASK_DEBUG=False
FLASK_HOST=0.0.0.0
FLASK_PORT=5000

# Application Settings
APP_VERSION=1.0.0
APP_NAME=devops-flask-app

# Render Specific (if needed)
RENDER=true
RENDER_EXTERNAL_URL=https://python-devops-project.onrender.com/

# GitHub Actions Integration
GITHUB_TOKEN=your_personal_access_token_here
GITHUB_OWNER=9TaiLBeasT
GITHUB_REPO=python-devops-project